#navbar {
  background-color: lightgray;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  height: 80px;
  margin-bottom: 10px;
  position: sticky;
}

#navbar a {
  margin: 16px;
  color: black;
  text-decoration: none;
}

.active {
  background-color: blue;
}

.pending {
  background-color: white;
}

.transitioning {
  background-color: red;
}

/* #navbar a.selected {
  border-bottom: 3px solid red;
}*/

#navbar a:hover {
  background-color: white;
}
